<div class="page-header">
	<%= link_to 'New Audio Lesson', new_audio_item_path, :class => "large button" %>
	<h1>Audio Library</h1>
</div>

<div class="row">
	<div class="four columns">
		<h4>Categories</h4>
		<ul class="categories">
		<% @categories.each do |category| %>
			<li><%= link_to facet_string(category), url_for( :controller => 'audio_items', :action => 'index', :category_id => category.id) %>
				
			<%= '<ul class="sub">' if category.children %>
			<% category.children.each do |subcat| %>
			  <li><%= link_to facet_string(subcat), url_for( :controller => 'audio_items', :action => 'index', :category_id => subcat.id) %>
			  	<%= '<ul class="sub">' if subcat.children %>
				<% subcat.children.each do |subsubcat| %>
   				  <li><%= link_to facet_string(subsubcat), url_for( :controller => 'audio_items', :action => 'index', :category_id => subsubcat.id) %></li>
				<% end %>
			  </li><%= '</ul>' if subcat.children %>
			<% end %>
			</li><%= '</ul>' if category.children %>
		<% end %>
		</ul>
	</div>
	<div class="twelve columns">
<table>
  <thead>
  	<tr>
    	<th>Title</th>
    	<th>Author</th>
    	<th>Description</th>
  	</tr>
  </thead>

  <tbody>
	<% @audio_items.each do |audio_item| %>
	<% localization = audio_item.localizations.first %>
  	<tr>
      <td><%= link_to localization.title, audio_item %></td>
      <td><%=h localization.creator %></td>
      <td><%=h truncate localization.description, :length => 90 %></td>
      <td><%= link_to 'Delete', audio_item, :confirm => 'Are you sure?', :method => :delete %></td>
  	</tr>
  </tbody>

<% end %>
</table>
</div>
</div>

