<div class="column-row">
	<div class="ten columns">

<h1><%=h @default_localization.title %></h1>

<p>
  <strong>Author:</strong> <%= link_to @default_localization.creator, "#" %>
</p>

<p>
  <strong>Categories:</strong> 
  <%= (@audio_item.categories.collect { |c| c.name }).join(", ") %>
</p>

<p>
  <%=h @default_localization.description %>
</p>

<h3>Available Translations:</h3>

<ul class="circle">
<% @audio_item.localizations.each do |localization| %>
	<li><%= link_to localization.locale.description, audio_item_path(@audio_item, :localization_id => localization.id) %></li>
<% end %>
</ul>

<%= link_to 'Edit', edit_audio_item_path(@audio_item) %> |
<%= link_to 'Back', audio_items_path %>
</div>

<div class="five columns">
	<div class="well">
		<h3>Stats</h3>
		<p>
		Uploaded on: <strong>December 2, 2010</strong><br />
		Play count: <strong>212 times</strong><br />
		Most popular region: <strong>Ghana, Africa</strong><br />
		</p>
	</div>
	<p><%= link_to "Download audio file", @default_localization.recording.url, :class => "button" %></p>
</div>
</div>